.imageSlider,
.imageSlider .imageSlider_title{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

/* 
 * Main Element 
 */
.imageSlider{
    box-shadow: 0 0 15px #aaa;	
    position: relative;
    display: none;
}

/*
 * Title Element
 */
.imageSlider .imageSlider_title{
    color: #fff;
    background: rgba(0,0,0,0.4);
    font-size: 3vw;
    bottom: 0;
    padding: 4px;
    text-align: center;
    position: absolute;
    cursor: default;
}

/*
 * All Images 
 */
.imageSlider img{
    width: 100%;
    display: inline-block;
    position: absolute;
    display: none;
}